$size1: 11em;
$size2: 3.5em;
$size3: 3em;
$size4: 2em;
$size5: 1.5em;
$size6: 1em;

ion-content{
    --ion-font-family: 'Roboto', 'sans-serif';
    --background: linear-gradient(#2980B9, #6DD5Fa)!important;
    --ion-text-color: #222;
 }

 .main{
     display: block;
     text-align: center;
 }

 .city{
     display: block;
     font-size: $size3;
     font-weight: bold;
     padding-top: 0.2em;
 }
 .date{
     display: block;
     font-size: $size5;
     font-weight: bold;
 }
 .description{
    display: block;
    font-size: $size3;
    font-weight: bold;
 }
 .temperature{
     display: block;
     font-size: $size1;
     padding: 0px;
     margin: 0px;
 }

 .icon{
    display: block;
    font-size: $size4;
    padding-top: 0px;
 }

 ion-grid{
     text-align: center;
     //position: fixed;
     bottom: 0%;
     margin: 0 auto;
 }

 .day{
     display: block;
     font-weight: bold;
 }

 .preciptation{
     display: block;
 }
 .icon-sm{
     display: block;
 }

 .hi-sm{
     display: block;
 }

 .lo-sm{
     display: block;
 }

.flagIcon{
    height: 7%; 
    width: 7%; 
}

 ion-toolbar{
    --background: #94d3fcc4;
    --ion-text-color: #fff;
    text-align: center;
 }
.fib{
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}